<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/p1.css">
    <link rel="stylesheet"  type="text/css" href="css//c1.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <div id="navbar">
        <p> </p>
        <img src="images/Screenshot 2024-02-06 192442.png" alt="eCourt India Services" height="70px" width="300px" />
        <img src="images/ecourts-logo.png" alt="" height="50px" width="50px" />
        <p></p>
        <p> </p>
        <p> </p>
        <p> </p>
        <p> </p>
        <p> </p>
        <p> </p>
        <p onclick="navigate(1)">Home</p>
        <p onclick="navigate(2)">e-committe</p>
        <p onclick="navigate(3)">Supreme courts</p>
        <p onclick="navigate(4)">High courts</p>
        <p onclick="navigate(5)">District courts</p>
        <p onclick="navigate(6)">NJDG</p>
        <p onclick="navigate(7)">Contact us</p>



    </div>
    <div id="content">
        <div id="sidebar">
            <p id="sm">Search Menu</p>
            <div><img src="images/Screenshot 2024-02-06 203153.png" alt="">
                <!-- <p onclick="navigate(11)">CNR number</p> -->
                <a href="#"> CNR number</a>
            </div>
            <div><img src="images/Screenshot 2024-02-06 203134.png" alt="">
                <!-- <p onclick="navigate(12)">Case status</p> -->
                <a href="/case">Case status</a>
            </div>
            <div><img src="images/Screenshot 2024-02-06 203056.png" alt="">
                <!-- <p onclick="navigate(9)">Court orders</p> -->
                <a href="/c1"> Court orders</a>
            </div>
            <div> <img src="images/OIP.jpg" alt="">
                <!-- <p onclick="navigate(15)">Location</p> -->
                <a href="/location"> Location</a>
            </div>
            <div> <img src="images/OIP.jpg" alt="">
              <!-- <p onclick="navigate(15)">Location</p> -->
              <a href="/status"> status</a>
          </div>
        </div>
        <div id="maincontent">
            <div class="box">
                <div>
                    <select name="state" style="height: 35px;">
                        <option value="">--SELECT STATE--</option>
                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                        <option value="Assam">Assam</option>
                        <option value="Bihar">Bihar</option>
                        <option value="Chhattisgarh">Chhattisgarh</option>
                        <option value="Goa">Goa</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                        <option value="Jharhand">Jharkhand</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                        <option value="Manipur">Manipur</option>
                        <option value="Meghalaya">Meghalaya</option>
                        <option value="Mizoram">Mizoram</option>
                        <option value="Nagaland">Nagaland</option>
                        <option value="Odisha">Odisha</option>
                        <option value="Punjab">Punjab</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Sikkim">Sikkim</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Tripura">Tripura</option>
                        <option value="Telangana">Telangana</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="Uttarakhand">Uttarakhand</option>
                        <option value="West Bengal">West Bengal</option>
                    </select>
                    <select name="district" style="height: 35px;">
                        <option value="">--SELECT DISTRICT--</option>
                        <option value="Bagalkot">Bagalkot</option>
                        <option value="Ballari">Ballari (Bellary)</option>
                        <option value="Belagavi">Belagavi </option>
                        <option value="Bengaluru Rural">Bengaluru Rural</option>
                        <option value="Bengaluru Urban">Bengaluru Urban</option>
                        <option value="Bidar">Bidar</option>
                        <option value="Chamarajanagar">Chamarajanagar</option>
                        <option value="Chikballapur">Chikballapur</option>
                        <option value="Chikkamagaluru">Chikkamagaluru</option>
                        <option value="Chitradurga">Chitradurga</option>
                        <option value="Dakshina Kannada">Dakshina Kannada</option>
                        <option value="Davangere">Davangere</option>
                        <option value="Dharwad">Dharwad</option>
                        <option value="Gadag">Gadag</option>
                        <option value="Hassan">Hassan</option>
                        <option value="Haveri">Haveri</option>
                        <option value="Kalaburagi">Kalaburagi (Gulbarga)</option>
                        <option value="Kodagu">Kodagu</option>
                        <option value="Kolar">Kolar</option>
                        <option value="Koppal">Koppal</option>
                        <option value="Mandya">Mandya</option>
                        <option value="Mysore">Mysore</option>
                        <option value="Raichur">Raichur</option>
                        <option value="Ramanagara">Ramanagara</option>
                        <option value="Shimoga">Shimoga</option>
                        <option value="Tumkur">Tumkur</option>
                        <option value="Udupi">Udupi</option>
                        <option value="Uttara Kannada">Uttara Kannada</option>
                        <option value="Vijayapura (Bijapur)">Vijayapura (Bijapur)</option>
                        <option value="Yadgir">Yadgir</option>
                    </select>
                    <select name="court" style="height: 35px;">
                        <option value="">--SELECT COURT--</option>
                        <option value="civil">Civil court</option>
                        <option value="criminal">Criminal court</option>
                        <option value="family">Family court</option>
                        <option value="high">High court</option>
                        <option value="supreme">Supreme court</option>
                    </select>
                </div>

                <div id="captcha_form">
                    <div>
                        <p>Enter CNR Number</p>
                        <input type="text" placeholder="Enter the CNR number" 
                            name="cino" id="cino" maxlength="16" required>
                        <button onclick="get_details()">Search</button>
                        <button id="reset" >Reset</button>
                    </div>
                    
                </div>
                
                <div id="contentasdf">
                  <!-- Component will be loaded here -->
                   <button onclick="oncls()"></button>
              </div>
                
                <div id="help">
                    <p class="heplpdesk">Help Desk</p>
                    <div>
                        <p><a target="_blank"
                                href="https://services.ecourts.gov.in/ecourtindia_v6/?p=view_help_videos/show_help_videos&caseSearchType=CNRHelp&app_token=19772d3f9743d371376aa3a7057f3b5d01ac46cc1b8ee802bc80ea6d4f70e37f">Click
                                here to view help video </a></p>
                        <p>Enter the 16 digit alphanumeric CNR Number without any hyphen or space</p>
                        <p>Click Search button to view current status and history of the case
                        </p>
                        <p>If you don't know the CNR number of the case, click on the Case Status icon on the left menu
                            to search the case with other options like case registration number, party name, advocate
                            name etc.
                        </p>
                    </div>
                </div>
                
                <div id="custom" class="tab-pane fade">
                    <h3 class="text-center">CUSTOM Query Form</h3>
                    <div class="container myForm" id="custom-form">
                      <div>
                        <form id="customQueryForm">
                          <div class="form-group">
                            <div class="formdiv">
                              <div class="row" style="margin-right:0px;margin-left:0px;padding-top:18px;">
                                <div class="col-md-8 col-md-offset-1">
                                  <p style="margin-left:2%;font-family:Roboto, sans-serif;font-size:18px;">
                                    <strong>Custom Query*</strong>
                                  </p>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                  <input required class="form-control" type="text"
                                    style="margin-left:0px;font-family:Roboto, sans-serif;" name="customQuery"
                                    placeholder="Enter you custom query to be executed">
                                </div>
                                <div class="row btn-row">
                                  <div class="col-md-12">
                                    <button class="btn btn-default btn-lg" type="reset">Clear</button>
                                  </div>
                                  <div class="col-md-12">
                                    <button class="btn btn-default btn-lg next-btn" type="submit">Get Data</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
        </div>
    </div>



    <div id="footer">

    </div>
    <script>
      // Fetch the content from 'my_component.html' and inject it into the 'content' div
      function oncls(){

        fetch('/templates/example.html')
          .then(response => response.text())
          .then(html => {
              document.getElementById('contentasdf').innerHTML = html;
          })
          .catch(error => {
              console.error('Error fetching component:', error);
          });
      }
  </script>

    <script type="application/javascript" src="/p1.js"></script>
</body>

</html>
