<div id="captcha_form">
    <div>
        <p>Enter CNR Number</p>
        <input type="text" placeholder="Enter the CNR number" 
            name="cino" id="cino" maxlength="16" required>
        <button onclick="get_details()">Search</button>
        <button id="reset" >Reset</button>
    </div>
    
</div>
<div id="help">
    <p class="heplpdesk">Help Desk</p>
    <div>
        <p>Enter at least 3 characters</p>
        <p>Party Name maybe the name of the Petitioner, Plaintiff, Complainant, Respondent, Defendant,
            Appellant, Accused or Extra Party.
        </p>
        <p>In the Year box, enter the Case Registration Year.</p>
        <p>Click on the Go button, to get the Oders/Judgements of the cases satisfying the search criteria.
        </p>
    </div>
</div>